.listaItem{
    padding-left: 0px !important;
}
.listaItem li{
    list-style: none;
    color: wheat;
}
.listaItem li a{
    color: wheat;
    text-decoration: none;
}
.tituloLista{
    color: white !important;
    text-decoration: underline;
}
