.contenedor-btn{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px  0px !important;
}

@media all and (max-width: 768px){
    .contenedor-btn{
        text-align: end;
    }
}