
.scrollable-content{
    overflow-y: auto;
    height: 425px; /* Altura del div con scroll */
}
.content {
    padding: 10px;
}
.tituloPedidos{
    font-size:25px !important;
}
.contenedorBotones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btnInciarSesion, .btnIrAlCarrito {
    
    margin: 10px !important;
    border-radius: 20px !important;
    font-size: 20px !important;
}
.btnInciarSesion{
    background-color: rgb(73, 170, 73) !important;
    border: green !important;
    
}
.btnInciarSesion:hover{
    background-color: rgb(117, 183, 117) !important;
    border: green !important;
}

.btnIrAlCarrito{
    background-color: var(--ghost-white) !important;
    border: var(--ghost-white) !important;
    color: black !important;
}
.total{
    font-size: 20px;
}
.totalFinal{
    color: rgb(223, 58, 58);
}

