.scrollable-content{
    overflow-y: auto;
    height: 400px; /* Altura del div con scroll */
}
.content {
    padding: 10px;
}
.contenedorBotones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnInciarSesion, .btnIrAlCarrito {
    width: 70%;
    margin: 0.7px 0px;
    padding: 5px 20px !important;
    border-radius: 20px !important;
    font-size: 20px !important;
}
.btnInciarSesion{
    background-color: green !important;
    border: green !important;
    
}
.contenedorFooter{
    display: flex !important; 
    justify-content: center !important;
}
.btnIrAlCarrito{
    background-color: var(--ghost-white) !important;
    border: var(--ghost-white) !important;
    color: black !important;
}
.total{
    font-size: 20px;
}
.totalFinal{
    color: red;
}
.modal-detalle {
    max-height: fit-content !important;
    background-color: linear-gradient(80deg,rgb(255, 160, 122, 0.7) , #ffa07a , #e5b39f ,white) !important;
    border-radius: 10px !important;
}