#administracion {
    display: flex;
    margin-left: 15px;
    border: none;
    background-color: burlywood;
}

#pedidos {
    display: flex;
    margin-left: 10px;
    border: none;
    background-color: burlywood;
}

.navb {
    display: flex;
    border: 2px solid black;
    width: 100%;
    
    background-color: burlywood;


}

.navbar {
    display: flex;
    justify-content: space-around;
}


.drop {
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    align-items: center;
    

}
