.padre{
    color: #adb5bd;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hijo{
    background-color: #5e5f63;
    width: 500px;
    text-align: center;
    padding: 5px;
    border-radius: 3%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hijo1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorMapa{
    width: 100% ;
    height: 50%;
}
.mapa{
    height: 100% !important;
    width: 100% !important;
    border-radius: 20px !important;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0);
}
.contendorInput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prueba{
    margin-top: 16px !important;
    outline: none !important;
    height: 45px !important;
    border-radius: 5px !important;
    border: #495057 solid 1px !important;
    padding: 6px 12px !important;
    color: #adb5bd !important;
}

.selector{
    margin-top: 16px !important;
    height: 35px !important;
    border-radius:  1rem !important; ;
    border: #495057 solid 1px !important; 
    background-color: #181b1ed5 !important;
    color: #adb5bd !important;
    padding: 6px 12px ;
}

.btn{
    font-size: larger !important;
}

