@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300&display=swap');
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
main {
    flex-grow: 1 !important;
  }

:root{
    --night: #000f08ff;
    --paynes-gray: #5d737eff;
    --amaranth-purple: #a5243dff;
    --ghost-white: #fbfbffff;
    --vanilla: #f6f5aeff;
}

*{
   padding: 0px;
   margin: 0px;
   font-family: 'Mukta', sans-serif !important;
}
