
.card-mercadoPago{
    padding: 5px;
    width: 40rem;
    align-items: center;
}

.lista{
    padding-left: 0 !important;
    list-style: none;
}

span{
    font-size: larger;
}

.lista{
    display: block !important;
}


.clear{
    clear: both;
}

.precio{
    float: right;
}

.descripcion{
    float: left;
}

.resumen{
    width: 85%;
    border: solid 1px rgb(51, 51, 51);
    border-radius: 15px;
    height: fit-content;
    padding: 15px 20px;
}

.encabezado{
    margin-bottom: 25px;
}